.konten-ganjil{
    background-color: #444444;
    color: #EDEDED;
}

.konten-genap{
    background-color: #EDEDED;
}

h6{
    color: black;
}

.channel svg{
    width: 2em;
}

.last a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #DA0037;
}

footer{
    background-color: #DA0037;
    color: white;
    font-weight: bold;
}